---
title: ProjectX
---

%header.col-lg-12.header-menu
  %h1.logo.fadeInLeft.animated
    %a{:href => "#{}"}ProjectX
  %nav.col-rg-6
    %a{:href => "#{}"} About
    %a{:href => "#{}"} Help
    %a{:href => "#{}"} Contact
    

.container
    
  .col-lg-12
    %h1.text-center
      ProjectX 
      %em.col-lg-12.text-center
        (welcome to my playground)

  .row
    .col-lg-3.text-center
      %h2
        First
    .col-lg-3
      %h2
        Second
    .col-lg-3
      %h2
        Third
    .col-lg-3.text-center
      %h2
        Fourth