---
title: This is a test page
---

.container
    
  .col-lg-12
    %h1.text-center
      This is a test page, template created with middleman using Haml and Sass 
      %em.col-lg-12.text-center
        (welcome to my playground)

  .row
    .col-lg-3.text-center
      %h2
        First
    .col-lg-3
      %h2
        Second
    .col-lg-3
      %h2
        Third
    .col-lg-3.text-center
      %h2
        Fourth